body{
    background-color: #011126;
    color: #264773;
    font-size: 24px;
}
.container {
    background-color: #B5B5D4;
    max-width: 25rem;
    min-width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 2.5rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
}
.heading {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 0px;
    max-height: fit-content;
    max-width: auto;
}
.heading p{
    margin: 1.5rem;
}
div {
    display: flex;
    justify-content: space-between;
}
form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
form input {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #F1FBFF;
    margin-bottom: 0.5rem;
}
.button {
    max-width: fit-content;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #FCFEFF;
    background-color: #345E93;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.button:hover {
    background-color: #6FAFE0;
    font-size: .90rem;
    margin-bottom: 1.95rem;
}
.button:active {
    color: #2b2829;
}
.clear {
    max-width: fit-content;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #e9f1fb;
    background-color: #182133;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.clear:hover {
    background-color: #331818;
    font-size: .90rem;
    margin-bottom: 1.95rem;
}
.clear:active {
    color: #2b2829;
}
.list {
    flex-direction: column;
}
.item {
    display: flex;
    justify-content: space-between;
    color: #254466;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    background-color: #e9f1fb;
    min-width: fit-content;
}
.item p {
    font-size: 1rem;
    margin: 0px;
}
.delete {
    background-color: #e9f1fb;
    color: red;
    border: none;
}
.delete:hover {
    color: #535477;
}
.delete:active {
    color: #FCFEFF;
}

.filter {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #2b2829;
    background-color: #B5B5D4;
}
.filter:focus {
    outline: none;
}